<div class="category-all-page">
  <div class="category-all-title">
    {{ _p('counter.categories', site.categories.length) }}
  </div>
  <div class="category-all">
  {%- if is_default_lang() %}
    {{ list_categories() }}
  {%- else %}
    {{ list_categories() | replace('href="', 'href="/'+page.lang) }}
  {%- endif %}
  </div>
</div>
