{{- next_data('page', next_config_unique()) }}
{%- if page.comments %}
  {{ partial('_third-party/comments/giscus.njk', {}, {cache: theme.cache.enable}) }}
{%- endif %}
{%- if not theme.bundle %}
  {{- next_js('config.js') }}
  {{ next_font() }}
{%- endif %}
<link rel="stylesheet" href="{{ url_for(theme.css) }}/main.css">

{{ next_vendors('fontawesome', ' media="print" onload="this.media=\'all\'"') }}

{%- if theme.motion.enable and not theme.bundle %}
  {{ next_vendors('animate_css') }}
{%- endif %}

{%- if theme.fancybox %}
  {{ next_vendors('fancybox_css') }}
{%- endif %}

{%- if theme.open_graph.enable %}
  {%- if theme.open_graph.options %}
    {{ open_graph(theme.open_graph.options) }}
  {%- else %}
    {{ open_graph() }}
  {%- endif %}
{%- endif %}

{# https://github.com/theme-next/hexo-theme-next/issues/866 #}
{%- set canonical = url | replace(r/index\.html$/, '') %}
{%- if not config.permalink.endsWith('.html') %}
  {%- set canonical = canonical | replace(r/\.html$/, '') %}
{%- endif %}
<link rel="canonical" href="{{ canonical }}">

{# Exports some front-matter variables to Front-End #}
{# https://hexo.io/docs/variables.html #}

{%- if theme.calendar.enable %}
{{ next_data('calendar',
  theme.calendar if page.type === 'schedule' else '')
}}
{%- endif %}