.post-body
  if $font-family-posts is defined
    font-family: $font-family-posts;
  word-wrap();

  +desktop-large() {
    font-size: $font-size-large;
  }

  +desktop() {
    text-align: unquote(hexo-config('text_align.desktop'));
  }

  +tablet-mobile() {
    text-align: unquote(hexo-config('text_align.mobile'));
  }

  .header-anchor, .headerlink {
    position: absolute;
    width 100%;
    border-bottom-style: none;
    color: inherit;
    font-size: $font-size-small;
    opacity: 0;
    &:hover {
      opacity: .5;
    }
    &:active {
      pointer-events: none;
    }
    &::before {
      pointer-events: auto;
      font-family-icons('\f0c1');
      float: right;
    }
  }

  .exturl sup {
    font-size: .15em;
    margin-left: 2px;
    vertical-align: super;
  }

  // https://github.com/hexojs/hexo-renderer-marked/pull/264
  img + figcaption, .fancybox + figcaption {
    color: $grey-dark;
    font-size: $font-size-small;
    font-weight: bold;
    line-height: 1;
    margin: -15px auto 15px;
    text-align: center;
  }

  iframe, img, video, embed {
    margin-bottom: 20px;
  }

  .video-container {
    height: 0;
    margin-bottom: 20px;
    overflow: hidden;
    padding-top: 75%;
    position: relative;
    width: 100%;

    iframe, object, embed {
      height: 100%;
      left: 0;
      margin: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
