<div class="site-brand-container">
  <div class="site-nav-toggle">
    <a class="toggle" aria-label="{{ __('accessibility.nav_toggle') }}" role="button">
      {%- if theme.menu %}
        <span class="toggle-line"></span>
        <span class="toggle-line"></span>
        <span class="toggle-line"></span>
      {%- endif %}
    </a>
  </div>

  <div class="site-meta">
    {%- if theme.custom_logo and theme.scheme === 'Muse' %}
      <img class="custom-logo-image" src="{{ url_for(theme.custom_logo) }}" alt="{{ title }}">
    {%- endif %}

    <a href="{{ i18n_path(page.lang, {lang: page.lang, path: ''}) }}" class="brand" rel="start">
      <i class="logo-line"></i>
      <{% if is_home() or is_archive() %}h1{% else %}p{% endif %} class="site-title">{{ title }}</{% if is_home() or is_archive() %}h1{% else %}p{% endif %}>
      <i class="logo-line"></i>
    </a>
    {%- if subtitle %}
      <p class="site-subtitle" itemprop="description">{{ subtitle }}</p>
    {%- endif %}
    {%- if theme.custom_logo and (theme.scheme === 'Gemini' or theme.scheme === 'Pisces') %}
      <img class="custom-logo-image" src="{{ url_for(theme.custom_logo) }}" alt="{{ title }}">
    {%- endif %}
  </div>

  <div class="site-nav-right">
    <a class="toggle theme-toggle" aria-label="{{ __('menu.darkmode') }}" role="button">
      <svg role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
    </a>
  </div>
</div>
