{% macro render(node) %}
  {%- set menuText = __('menu.' + node.name) %}
  {%- if page.lang == 'zh-CN' or menuText.indexOf('menu.') != 0 %}
  {%- set menuText = menuText | replace('menu.', '') %}
  {%- set itemURL = i18n_path(page.lang, {lang: page.lang, path: node.path}) %}
  <li class="menu-item menu-item-{{ node.name | lower | replace(' ', '-') }}">

    {%- set menuIcon = '<i class="fa">' + node.icon + '</i>' if theme.menu_settings.icons and node.icon else '' %}
    {%- set menuIcon = '<i class="' + node.icon + ' fa-fw"></i>' if node.icon.indexOf('fa') == 0 %}

    {%- set menuBadge = '' %}
    {%- if theme.menu_settings.badges %}
      {%- set badges = {
        archives  : site.posts.length,
        categories: site.categories.length,
        tags      : site.tags.length
        }
      %}
      {%- for menu, count in badges %}
        {%- if node.name == menu %}
          {%- set menuBadge = '<span class="badge">' + count + '</span>' %}
        {%- endif %}
      {%- endfor %}
    {%- endif %}

    {{- next_url(itemURL, menuIcon + menuText + menuBadge, {rel: 'section'}) -}}

  </li>
  {%- endif %}
{% endmacro %}
