{% import 'menu-item.njk' as menu_item with context %}

{%- if theme.menu or theme.algolia_search.enable or theme.local_search.enable %}
<nav class="site-nav">
  <ul class="main-menu menu">
    {%- for node in theme.main_menu %}
      {{- menu_item.render(node) | trim }}
    {%- endfor %}

    {%- if theme.algolia_search.enable or theme.local_search.enable %}
      <li class="menu-item menu-item-search">
        <a role="button" class="popup-trigger">
          {%- if theme.menu_settings.icons %}<i class="fa fa-search fa-fw"></i>{% endif %}{{- __('menu.search') }}
        </a>
      </li>
    {%- endif %}
    {%- if languages.length > 1 %}
      <li class="menu-item menu-item-lang">
      {%- set lang = 'en' if page.lang == 'zh-CN' else 'zh-CN' %}
        <a role="button" href="{{ i18n_path(lang) }}" class="lang-toggle" aria-label="{{ __('accessibility.select_lang') }}">{# {lang: lang, path: ''} if is_post() else null #}
          <i class="fa fa-language"></i>
          <svg role="img" viewBox="0 0 23 23"><path d="m12.87 15.07-2.54-2.51.03-.03A17.52 17.52 0 0 0 14.07 6H17V4h-7V2H8v2H1v1.99h11.17C11.5 7.92 10.44 9.75 9 11.35 8.07 10.32 7.3 9.19 6.69 8h-2c.73 1.63 1.73 3.17 2.98 4.56l-5.09 5.02L4 19l5-5 3.11 3.11zM18.5 10h-2L12 22h2l1.12-3h4.75L21 22h2zm-2.62 7 1.62-4.33L19.12 17z"></path></svg>
          <span>{{ language_name(lang) }}</span>
        </a>
      </li>
    {%- endif %}
  </ul>
</nav>
{%- endif %}
